/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

i.fas {

  &.fa-lock,
  &.fa-key,
  &.fa-plus {
    font-size: 18px;
  }
}